article {
  padding: 1rem;
  color: #25113d;
  background-color: #bf9ee5;
}

h2 {
  margin: 0;
}

time {
  color: #3c2c50;
}

.actions {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  gap: 1.5rem;
}

.actions button {
  font: inherit;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #380774;
  color: #decdf2;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.actions button.remove {
  background-color: #bf0808;
}

.actions button.remove:hover,
.actions button.remove:active {
  background-color: #dc2626;
  box-shadow: 0 8px 18px rgba(220, 38, 38, 0.55),
  0 3px 8px rgba(153, 27, 27, 0.45);
}

.actions button:hover,
.actions button:active {
  background-color: #4a0774;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.actions button.remove:active {
  background-color: #670909;
}

.actions button:active {
  background-color: #7f4bcc;
  transform: translateY(1px);
}
